.home_client_slider {
  .slick-slide {
    margin-right: 20px;
    width: 250px !important;
  }
  .slick-track {
    display: flex;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
  }
}

.content-slider {
  min-height: 400;
  position: relative;
}
