.home_client_slider {
  .slick-slide {
    margin-right: 20px;
    width: 250px !important;
  }
  .slick-track {
    display: flex;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
  }
}

.content-slider {
  min-height: 400;
  position: relative;
}

.phone-input {
  .react-tel-input .form-control {
    height: 40px !important;
    width: 100% !important;
    border-radius: 0px !important;
    border: 1px solid gainsboro;
    font-family: "Lato", sans-serif, monospace;
  }
}
input:-internal-autofill-selected{
  background-color: transparent;
}